body {
    margin-left: 90px;
}
h1, h2, h3,
{
    text-align: center;
}
h2
{
    margin-top:  30px;
    margin-bottom:0px;
}
h3
{
    background-color: rgb(10, 92, 92);
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
    padding-left:  10px;
    padding-right: 10px;

}
.news p
{
    background-color:rgb(169, 197, 197);
    margin-top:0px;
    padding-left:  10px;
    padding-right: 10px;
}
.news
{
    width:70%;
    max-width: 500px;
    /* margin:auto; */
    /* margin-left: 90px; */
}

a
{
    text-decoration: none;
    color: blue;
}
.commentaires
{
    background-color: rgb(212, 231, 231);
    width: 85%;
    max-width: 570px;
    border-radius: 5px;
    padding-left:  10px;
    padding-right: 10px;

    /*margin-bottom: 5px;*/
}
.who
{
    font-size: x-small;
    color: #777777;
    margin-top: 0px;
}
.suppr
{
    float: right;
    font-size: x-small;
    /* color: orange; */
}
.retour
{
    margin-left: -70px;
}